{% extends "_base.html" %}
{% block body %}
  {% raw %}
    <md-content style='height: 95vh;'>
      <md-toolbar id='header'>
        <h2 class="md-toolbar-tools">
          <span flex class='capitalize' ng-bind-template="Vancouver Eagles: {{title}}"></span>
          <div layout="row" layout-align="center center" >
            <md-button ng-click='goHome()' id='home'>
            </md-button>
          </div>
        </h2>
      </md-toolbar>
      <div ng-view></div>
    </md-content>
  {% endraw %}
{% endblock %}
